/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import '@fortawesome/fontawesome-free/css/all.min.css';
@theme {
  --color-dark: #262125;
  --color-lightGray: #302533;
  --color-offWhite: #9c7995;
  --color-accent: #D90368;
}

* {
  /*font-family: 'Roboto Mono', monospace;*/
  font-family: 'VT323', monospace;
}
